@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
}

body {
  margin: 0;
  padding: 1em;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.start-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.start-menu__button {
  padding: 1em;
  border-radius: .5em;
  font-weight: bold;
  border: 1px solid;
}

.result {
  background-color: #fff;
  display: flex;
  gap: .5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  font-weight: bold;
}

.result button,
.start-menu__button {
  color: #000;
  border-radius: .5em;
  padding: .5em;
  transition: 0.2s ease-in-out;
}

.result button:hover,
.start-menu__button:hover {
  transform: scale(1.1);
}

.result button:active,
.start-menu__button:active {
  transform: scale(.9);
}

.letters {
  display: flex;
  flex-wrap: wrap;
  gap: .25em;
}

.word {
  display: flex;
  justify-content: center;
  gap: .5em;
}

.letters__letter {
  aspect-ratio: 1;
  width: 32px;
  background-size: 256px;
  display: inline-block;
  background-repeat: no-repeat;
  font-weight: bolder;
  border: none;
}

.letters__letter:disabled {
  filter: brightness(.5);
  cursor: not-allowed;
}

.players {
  padding: .5em;
  display: flex;
  gap: .5em;
  flex-direction: column;
  font-weight: bold;
}

.players__player {
  display: flex;
  gap: 1em;
  align-items: center;
  border-bottom: 1px solid;
  padding: .25em;
  position: relative;
  text-transform: capitalize;
}

@media (min-width:768px) {
  .letters__letter {
    width: 64px;
    background-size: 512px;
  }
}

.hidde {
  display: none !important;
}

.fill {
  fill: #000;
}